<div style="width:140px;min-height : 50px;" class="cmd #history# tooltips cmd-widget conso#id#" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
	<div id="gauge#id#" style="width:100px; height:55px"></div>

<!--<script src="plugins/teleinfo/desktop/js/raphael.2.1.0.min.js"></script>
<script src="plugins/teleinfo/desktop/js/justgage.1.0.1.min.js"></script>-->
<script>
	/*var g = new JustGage({
    id: "gauge#id#",
    value: #state#,
    min: #minValue#,
    max: #maxValue#,
	label: "#unite#",
	showMinMax:false,
	title: " ",
	valueFontColor: "#ffffff",
	labelFontColor:"#ffffff",
	levelColors: [
		  "#30ff00",
          "#2cec00",
          "#fff400",
		  "#ffb400",
          "#ff0000"
        ]          

  });*/
  
  $('#gauge#id#').highcharts({
            chart: {
                events: {
                    click: function (event) {
                        if (!$.mobile && '#history#' == 'history cursor') {
                            $('#md_modal').dialog({title: "Historique"});
                            $("#md_modal").load('index.php?v=d&modal=cmd.history&id=#id#').dialog('open');
                        }
                    }
                },
                type: 'solidgauge',
                height : 80,
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                backgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false,
                spacingTop: 0,
                spacingLeft: 0,
                spacingRight: 0,
                spacingBottom: 0,
                borderWidth : 0
            },
            title: null,
            pane: {
                center: ['50%', '60%'],
                size: '100%',
                startAngle: - 90,
                endAngle: 90,
                background: {
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },
            tooltip: {
                enabled: false
            },
                // the value axis
                yAxis: {
                    stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    labels : {enabled: false},
                    tickWidth: 0,
                    min: #minValue#,
                    max: #maxValue#,
                    title: {
                        text: '',
                        y: - 0
                    }
                },
                labels : {enabled: false},
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: 5,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                exporting : {
                    enabled: false
                },
                series: [{
                    name: '',
                    data: [Math.round(parseFloat('#state#') * 10) / 10],
                    dataLabels: {
						y:-20,
                        format: '<span style="color : white;">{y}</span> <span style="font-size:10px;color:white">#unite#</span>'
                    },
                }]
            });
  
  
  
</script>
</div>